h1 {
  color: #black;
  font-family: gadugi;
  font-size: 70px;
  text-align: center;
}

h1#site-title {
  color: #FA08A1;
  font-family: cooper black;
  font-size: 60px;
  text-align: center;
}

h1#article-title {
  font-size: 72px;
  text-align: center;
}

h2 {
  color: #light green;
  font-family: impact;
  font-size: 120%;
}


figure img {
 width: 40%;
 height: auto;
}

body {
  font-family: calibri;
  font-size: 150%;
}

figure img {
  width: 20%;
  height: auto;
}

p img {
  float: left;
  max width: 20%;
}

figure img {
  width: 40%;
  height: auto;
  float: right;
}


nav ul {
  background-color: #FA0D334;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding-left: 0;
  border: none;
}


nav ul li a {
  background-color: #FA0D334;
  text-decoration: none;
  color: #black;
  padding: 8px;
  border-bottom: 1px solid #FA0D334;
  display: block;
}

nav ul li a {
  hover;
  font-color: #black;
  background-color: #FA0D334;
}

footer nav {

}

nav ul li:last-child a {
  border-bottom: none;
}

h2 {
 color: #FA08A1;
  font-family: calibri;
  font-size: 160%;
}

p img {
  width: 200%;
  height: auto;
}

p {
  font-family: calibri;
  font-size: 100%;
}

footer#page-footer {
padding: 32px 0;
margin-top: 64px;
text-align: center;
background-color: #FA0D334;
color: #ffffff;
}
