h1#site-title {
  color: #black;
  font-family: helvetica;
  font-size: 60px;
  text-align: left;
}

h1#article-title {
  font-family: helvetica;
  font-size: 70px;
  text-align: left;
}

h1 {
  color: #000000;
  font-family: helvetica;
  font-size: 60px;
  text-align: left;
  padding-left: 60px;
}

h2 {
  color: #22C71A;
  font-family: impact;
  font-size: 112px;
  text-align: left;
  padding-left: 60px;
}

h3 {
  color: #22C71A;
  font-family: helvetica;
  font-size: 62px;
  text-align: left;
  padding-left: 60px;
}

h4 {
  font-family: helvetica;
  font-size: 30px;
  text-align: left;
}

figure img {
 width: ;
 height: ;
}

body {
  font-family: helvetica;
  font-size: 26px;
  padding-left: 40px;
  background-color: 50fa58:
}

body {
  font-family: helvetica;
  font-size: 26px;
  padding-left: 40px;
  background-color: 50fa58:
}



nav ul {
  background-color: # ;
  border-radius: 50%;
  width: 80px;
  height: 160px;
  display: flex;
  gap: 60px;
  list-style: none;
  padding-left: 400px;
  border: none;
}

nav ul li a {
  background-color: #FAEA0A;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-decoration: none;
  color: #black;
  padding: 8px;
  display: block;
}

nav ul li a {
  hover;
  color: #000000;
  background-color: #FAEA0A;
}


p {
  font-family: calibri;
  font-size: 26px;
}

footer #page-footer {
text-align: center;
background-color: yellow;
color: #000000;
}
