h1#site-title {
  color: #black;
  font-family: rockwell;
  font-size: 60px;
  text-align: center;
}

h1#article-title {
  font-size: 70px;
  text-align: center;
}

h1 {
  color: #black;
  font-family: californian;
  font-size: 70px;
  text-align: center;


h2 {
  color: #light green;
  font-family: impact;
  font-size: 120%;
}


figure img {
 width: 40%;
 height: auto;
}

body {
  font-family: calibri;
  font-size: ;
}

nav ul {
  background-color: #FA0D334;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding-left: 0;
  border: none;
}

nav ul li a {
  background-color: ##50fa58;
  text-decoration: none;
  color: #black;
  padding: 8px;
  border-bottom: 1px solid #50fa58;
  display: block;
}

nav ul li a {
  hover;
  font-color: #black;
  background-color: #50fa58;
}


h2 {
 color: #000000;
  font-family: calibri;
  font-size: 160%;
}

p {
  font-family: calibri;
  font-size: 100%;
}

footer#page-footer {
padding: 32px 0;
margin-top: 64px;
text-align: center;
background-color: #FA0D334;
color: #ffffff;
}
